#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "bicbucstriim"
name = "BicBucStriim"
description.en = "Digital books streamer, providing web-based access to your e-book collection"
description.fr = "Interface Web pour accéder à votre collection d'e-book"

version = "3.6.7~ynh1"

maintainers = ["Alex"]

[upstream]
license = "MIT"
code = "https://github.com/mikespub-org/rvolz-BicBucStriim"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "130M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/bbs"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://github.com/mikespub-org/rvolz-BicBucStriim/releases/download/v3.6.7/bicbucstriim-3.6.7-php82.zip"
    sha256 = "e4ff7c4ce1c52b583439a073f40e1d5c8bf95b54187ff66ab5ff1e9fff7e2dfc"
    in_subdir = false

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "bicbucstriim-.*.zip"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "php8.2-gd",
        "php8.2-intl",
        "php8.2-xml",
        "php8.2-sqlite3",
        "php8.2-mbstring",
        "php8.2-apcu",
    ]
